{% extends "network/layout.html" %}
{% block body %}
{% if message %}
<div>{{ message }}</div>
{% endif %}
<div class="container" id="blogs">
    {% for blog in page_obj %}
    <div id="blog">
        <p><strong>Author</strong><a href="{% url 'user_profile' blog.post_by %}"> {{ blog.post_by }}</a></p>
        <p><strong>Created On</strong>{{blog.created_at}}</p>
        <a id="edit">Edit</a>
        <div id="content">{{blog.post_content}}</div>
        <p id="hidden_id">{{ blog.id }}</p>
        <p id="like_counter"><a id="like_button"><i class='fas fa-heart'
                    style='font-size:20px;color:red'></i>{{blog.post_likes}}</a>
        </p>


    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}