{% extends "network/layout.html" %}
{% block body %}

<div class="container">
    {% if message %}
    <div>{{message}}</div>
    <!-- <div class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{message}}
      </div> -->
{% endif %}
<h3>Update Post</h3>
<div class="create_post">
    <form action="{% url 'edit'  user pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea name="content">{{content}}</textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="update">
    </form>

</div>
</div>


{% endblock %}
