<div class="pagination" style="margin-left:50%;transform:translate(-50%)">
    <span class="step-links" style="font-size: x-large;">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number}}">
            <span class="glyphicon glyphicon-chevron-left	
            "></span></a>
        {% endif %}
        <span class="current">
            {{page_obj.number}}

        </span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">
            <span class="glyphicon glyphicon-chevron-right	
            "></span>
        </a>
        {% endif %}

    </span>
</div>